### import libraries

In [ ]:
import pandas as pd
pd.set_option('display.float_format', '{:.4f}'.format)
import numpy as np
!pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (56.1.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.2.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.0.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=1.5.1->mlxtend) (1.15.0)

###loading data

In [ ]:
divar_df = pd.read_csv('/content/drive/MyDrive/divar_posts_dataset.csv', index_col=[0])

### preprocessing

In [ ]:
divar_df_1 = divar_df[['cat1', 'cat2', 'cat3', 'city']]
divar_df_3 = divar_df[['created_at', 'platform']]
divar_df_4 = divar_df[['cat1', 'cat2', 'cat3', 'platform']]

divar_df_1 = divar_df_1.iloc[:250] # limit record because google colab session expired after some minutes
divar_df_3 = divar_df_3.iloc[:250] # limit record because google colab session expired after some minutes
divar_df_4 = divar_df_4.iloc[:250] # limit record because google colab session expired after some minutes

###extract frequent pattern for 1st step

In [ ]:
transactions = dict()
for i in range(len(divar_df_1)):
  if divar_df_1.iloc[i]['city'] not in transactions:
    transactions[divar_df_1.iloc[i]['city']] = [[divar_df_1.iloc[i]['cat1'], divar_df_1.iloc[i]['cat2'], divar_df_1.iloc[i]['cat3']]]
  else:
    transactions[divar_df_1.iloc[i]['city']] += [[divar_df_1.iloc[i]['cat1'], divar_df_1.iloc[i]['cat2'], divar_df_1.iloc[i]['cat3']]]

for key in transactions:
  for i in range(len(transactions[key])):
    transactions[key][i] = [x for x in transactions[key][i] if str(x) != 'nan']

for key in transactions:
  te = TransactionEncoder()
  te_ary = te.fit(transactions[key]).transform(transactions[key])
  converted_df = pd.DataFrame(te_ary, columns=te.columns_)
  print("============" + str(key) + "============")
  print(apriori(converted_df, min_support=0.2, use_colnames=True))

============Tehran============
   support                                   itemsets
0   0.3089                             (for-the-home)
1   0.2195                (furniture-and-home-decore)
2   0.2114                                 (vehicles)
3   0.2195  (for-the-home, furniture-and-home-decore)
============Mashhad============
   support                                  itemsets
0   0.2368                                (clothing)
1   0.2368                      (clothing-and-shoes)
2   0.2368                            (for-the-home)
3   0.2895                                (personal)
4   0.2105                                (vehicles)
5   0.2368            (clothing-and-shoes, clothing)
6   0.2368                      (personal, clothing)
7   0.2368            (personal, clothing-and-shoes)
8   0.2368  (personal, clothing-and-shoes, clothing)
============Karaj============
   support                                   itemsets
0   0.2105                       (electronic-devices)
1   0.3684                             (for-the-home)
2   0.3684                (furniture-and-home-decore)
3   0.2632                                 (personal)
4   0.3684  (for-the-home, furniture-and-home-decore)
============Qom============
   support                                   itemsets
0   0.2500                       (clothing-and-shoes)
1   0.2500                             (for-the-home)
2   0.2500                (furniture-and-home-decore)
3   0.2500                          (leisure-hobbies)
4   0.2500                                 (personal)
5   0.2500             (personal, clothing-and-shoes)
6   0.2500  (for-the-home, furniture-and-home-decore)
============Isfahan============
   support                                   itemsets
0   0.2143                       (electronic-devices)
1   0.2857                             (for-the-home)
2   0.2143                (furniture-and-home-decore)
3   0.2143                                 (vehicles)
4   0.2143  (for-the-home, furniture-and-home-decore)
============Shiraz============
    support                                   itemsets
0    0.2778                                     (cars)
1    0.2778                             (for-the-home)
2    0.2222                (furniture-and-home-decore)
3    0.2778                                    (light)
4    0.2222                        (parts-accessories)
5    0.5556                                 (vehicles)
6    0.2778                              (cars, light)
7    0.2778                           (cars, vehicles)
8    0.2222  (for-the-home, furniture-and-home-decore)
9    0.2778                          (vehicles, light)
10   0.2222              (vehicles, parts-accessories)
11   0.2778                    (cars, vehicles, light)
============Tabriz============
    support                                           itemsets
0    0.2000                                 (antiques-and-art)
1    0.2000                               (clothing-and-shoes)
2    0.3000                                     (for-the-home)
3    0.3000                        (furniture-and-home-decore)
4    0.2000                                    (health-beauty)
5    0.4000                                         (personal)
6    0.2000                   (for-the-home, antiques-and-art)
7    0.2000      (furniture-and-home-decore, antiques-and-art)
8    0.2000                     (personal, clothing-and-shoes)
9    0.3000          (for-the-home, furniture-and-home-decore)
10   0.2000                          (health-beauty, personal)
11   0.2000  (furniture-and-home-decore, for-the-home, anti...
============Ahvaz============
    support                                           itemsets
0    0.2143                                             (cars)
1    0.2143                               (electronic-devices)
2    0.2857                                     (for-the-home)
3    0.2143                        (furniture-and-home-decore)
4    0.2143                                    (mobile-phones)
5    0.2143                                    (mobile-tablet)
6    0.2857                                         (vehicles)
7    0.2143                                   (cars, vehicles)
8    0.2143                (electronic-devices, mobile-phones)
9    0.2143                (mobile-tablet, electronic-devices)
10   0.2143          (for-the-home, furniture-and-home-decore)
11   0.2143                     (mobile-tablet, mobile-phones)
12   0.2143  (mobile-tablet, electronic-devices, mobile-pho...
============Kermanshah============
    support                 itemsets
0    1.0000                   (cars)
1    0.5000                  (heavy)
2    0.5000                  (light)
3    1.0000               (vehicles)
4    0.5000            (cars, heavy)
5    0.5000            (cars, light)
6    1.0000         (cars, vehicles)
7    0.5000        (vehicles, heavy)
8    0.5000        (vehicles, light)
9    0.5000  (cars, vehicles, heavy)
10   0.5000  (cars, vehicles, light)

###extract frequent pattern for 3rd step

In [ ]:
transactions = dict()
divar_df_3.astype(str)
for i in range(len(divar_df_3)):
    transactions[i] = [divar_df_3.iloc[i]['created_at'].split(' ')[0], divar_df_3.iloc[i]['platform']]

for key in transactions:
  transactions[key] = [x for x in transactions[key] if str(x) != 'nan']

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(transactions.values()).transform(transactions.values())
converted_df = pd.DataFrame(te_ary, columns=te.columns_)

apriori(converted_df, min_support=0.2, use_colnames=True)

   support             itemsets
0   0.2200          (Wednesday)
1   0.9480             (mobile)
2   0.2040  (mobile, Wednesday)

###extract frequent pattern for 4th step

In [ ]:
transactions = dict()
for i in range(len(divar_df_4)):
  transactions[i] = [divar_df_4.iloc[i]['cat1'], divar_df_4.iloc[i]['cat2'], divar_df_4.iloc[i]['cat3'], divar_df_4.iloc[i]['platform']]

for key in transactions:
  transactions[key] = [x for x in transactions[key] if str(x) != 'nan']

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(transactions.values()).transform(transactions.values())
converted_df = pd.DataFrame(te_ary, columns=te.columns_)

apriori(converted_df, min_support=0.2, use_colnames=True)

   support                                           itemsets
0   0.2920                                     (for-the-home)
1   0.2240                        (furniture-and-home-decore)
2   0.9480                                           (mobile)
3   0.2280                                         (vehicles)
4   0.2240          (for-the-home, furniture-and-home-decore)
5   0.2800                             (mobile, for-the-home)
6   0.2160                (mobile, furniture-and-home-decore)
7   0.2160  (mobile, for-the-home, furniture-and-home-decore)